@import "../../../sass/main.scss";

.my-btn {
    min-width: 100px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
}
.my-btn.primary {
    background-color: $primary-color;
    color: white;
}
.my-btn.secondary {
    background-color: $secondary-color;
    color: white;
}