@import "../../../sass/main.scss";

.my-btn {
    min-width: 100px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    margin: 5px;
    &:hover {
        opacity: 0.7;
        filter: alpha(Opacity=70);
        cursor: pointer;
    }
    &.disabled {
        background-color: $disabled-color;
        color: white;
        &:hover {
            cursor: not-allowed;
        }
    }
    &.primary {
        background-color: $primary-color;
        color: white;
    }
    &.secondary {
        background-color: $secondary-color;
        color: white;
    }
}